@page
@model FactorioWebInterface.Pages.Admin.ManageAccountsModel
@using FactorioWebInterface.Data;
@{
    ViewData["Title"] = "Account managing";
}

<div class="container">

    <section class="section">
        <h2 class="title is-2">Account manager</h2>
    </section>

    <section class="section">
        <h2 class="title is-3">Account list</h2>
        <table id="adminsTable" class="table is-bordered is-striped is-hoverable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (ApplicationUser user in Model.getUsers())
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>
                                <form method="post">
                                    <input type="hidden" name="userId" id="userId" value="@user.Id"/>
                                    <button type="submit" asp-page="AccountOverview" class="button is-link">Edit</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>
</div>

